/* =====================================
   Public API Request
======================================== */
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Bad+Script&family=Raleway+Dots&family=Raleway:wght@700&display=swap");
/* ======================================
   Custom Colour Variables
======================================== */

:root {

    /* ======================================
       Solid Colours
    ====================================== */

    --primary-black-color: #050505;
    --deep-black-color: #040000;
    --deep-brown-black-color: #040200;

    --dark-grey-color: #161616;
    --charcoal-grey-color: #1b1b1b;

    --dark-card-bg: rgb(6, 5, 10);

    --bright-gold-color: #ffd700;
    --warm-gold-color: #c9933b;
    --muted-gold-color: #b07e2a;
    --orange-gold-color: #ff7814;
    --burnt-orange-color: #a54f0c;

    --deep-brown-color: #1d1200;
    --dark-brown-color: #241701;
    --medium-brown-color: #5f3910;
    --light-brown-color: #8e5a18;

    --light-gold-color: rgb(243, 210, 108);
    --card-border-color: rgb(120, 114, 79);
    --card-text-color: rgb(249, 204, 145);

    --card-hover-bg: #f7f3d9;
    --card-hover-text-color: rgb(1, 0, 0);

    --heading-shadow-color: #3f3c22;
    --pale-gold-shadow-color: #f9ee8d;
    --orange-highlight-color: rgb(247, 141, 41);

    --image-dark-shadow-color: rgb(6, 5, 1);

    /* ======================================
       Transparent Colours
    ====================================== */

    --main-transparent-bg: rgba(1, 0, 0, 0.6);

    --datalist-transparent-bg: rgba(4, 2, 0, 0.5);
    --option-transparent-bg: rgba(4, 2, 0, 0.6);

    /* ======================================
       Custom Gradients
    ====================================== */

    --header-bg-gradient: linear-gradient(49deg,
            #050505 0%,
            #161616 30%,
            #1b1b1b 65%,
            #050505 100%);

    --card-image-gradient: linear-gradient(49deg,
            #241701 0%,
            #c9933b 40%,
            #ffd700 100%);

    --card-image-hover-gradient: linear-gradient(49deg,
            #1d1200 0%,
            #5f3910 35%,
            #8e5a18 70%,
            #c9933b 100%);
}

* {
    box-sizing: border-box;
}



html,
body {
    width: 100%;
    max-width: 100%;

}

body {
    font-family: "Raleway", sans-serif;
    text-align: center;
    background: var(--header-bg-gradient);
    background: url(../images/body-bg.webp) no-repeat 20% top fixed;
    background-size: cover;
}

header {
    padding: 15px 5px 5px;
    background: var(--header-bg-gradient);
    box-shadow: 0 1px 1px var(--orange-gold-color);
    ;

}

.header-inner-container {
    max-width: 1180px;
    margin: auto;
}

header h1 {
    font-size: 1.25em;
    margin-top: 35px;
}

.awesome {
    font-family: 'Bad Script', cursive;
    letter-spacing: 2px;

}

.heading,
h2 {
    font-family: 'Raleway Dots', cursive;
}

.heading,
.awesome {
    font-size: 0.829em;
    letter-spacing: 0.09em;
    line-height: 2em;
    text-align: center;
    color: var(--bright-gold-color);
}

/*=========================
SEARCH INPUT ELEMENTS
===============================*/


.search-container {
    position: relative;
    width: 250px;
    max-width: 500px;
    margin: 0 auto;
    /* border: solid 2px rgb(255, 52, 52); */
}

#search-input {
    position: relative;
    top: 14px;
    right: 25px;
    width: 75%;
    background: var(--deep-black-color);
    border-radius: 3px;
    padding: 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: auto;
    border-bottom: 1px solid var(--orange-gold-color);
    transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#search-close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 27px;
    right: 10px;
    border-radius: 100%;
    background: var(--deep-brown-black-color);
    border-width: 1px;
    border-color: var(--orange-gold-color);
    font-size: 1.1rem;
    text-align: center;
    color: var(--muted-gold-color);
    box-shadow: 0 0 15px var(--primary-black-color) inset;
    text-shadow: 1px 1px 1px var(--bright-gold-color);
    transition: .5s ease-out;
    cursor: pointer;

}

label {
    display: block;
    width: 147px;
    cursor: pointer;
    margin-left: 18px;
    color: var(--bright-gold-color);
    transform: translateY(-15px);
    transition: transform .2s ease-in-out;
}

#search-close:hover {
    transform: scale(1.1);
}


/*Datalist & Options*/
#data-names {
    position: absolute;
    top: 80px;
    display: none;
    padding: 5px 10px;
    background: var(--option-transparent-bg);
    border-radius: 2px;
    border: solid var(--orange-gold-color) 1px;
    color: var(--bright-gold-color);
    width: 100%;
    z-index: 201;
    max-height: 35.500em;
    overflow-y: auto;


}

option {
    padding: 0.825em;
    background: var(--option-transparent-bg);
    text-align: center;
    border: 1px solid var(--orange-gold-color);
    width: 90%;
    margin: 5px auto;
    border-radius: 5px;
}

option:hover {
    color: var(--deep-brown-black-color);
    background: var(--bright-gold-color);
}

#search-input:hover {
    background: var(--bright-gold-color);
    color: var(--deep-brown-black-color);
    box-shadow: 0 0 7px var(--deep-brown-black-color) inset;
    border-bottom: 3px solid var(--burnt-orange-color);

}



#search-input:active,
#search-input:focus {
    width: 100%;
    right: 0;
    background: var(--bright-gold-color);
    color: var(--deep-brown-black-color);
    box-shadow: 0 0 7px var(--deep-brown-black-color) inset;
    border-bottom: 3px solid var(--burnt-orange-color);
    caret-color: var(--deep-brown-black-color);


}



#search-input:hover~label,
#search-input:active~label,
#search-input:focus~label {
    transform: translateY(-62px);

}

#search-input:active~#data-names,
#search-input:focus~#data-names {
    display: block;
}





/* ======================================
Main
======================================== */

.main {
    width: 100%;
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: var(--main-transparent-bg);
    border: solid var(--light-gold-color) 1px;

}


/* =====================================
   Gallery
======================================== */

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    /* border: solid rgb(255, 171, 52) 1px; */
}

.card-container {
    width: 100%;
    max-width: 290px;
    margin: 8px 0;
    /* border: solid rgb(255, 52, 52) 1px; */
}


.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    padding: 10px;
    background: var(--dark-card-bg);
    border-radius: 0.25em;
    border: solid var(--card-border-color) 1px;
    transition: .4s ease-out;
    overflow: hidden;

}

.card-img-container {
    width: 90px;
    height: 90px;
    background: var(--light-gold-color);
    background: var(--card-image-gradient);
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    box-shadow: 0 1px 3px var(--pale-gold-shadow-color);
    transition: transform .4s ease-out;
}

.card-img {
    width: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
    color: var(--bright-gold-color);
    /* text-shadow: 0 1px 1px rgb(247, 141, 41); */
}

.card-text {
    font-size: 0.770em;
    color: var(--card-text-color);
    margin: 7px auto;
    transition: .4s ease-out;
}

.cap {
    text-transform: capitalize;
}


/* =====================================
   Modal
======================================== */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: .4s ease-out;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.25em;
    border: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
}

.modal-name {
    margin-bottom: 5px;
}

.modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
    border-color: rgba(200, 200, 200, 0.2);
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;
    ;
    margin: 10px auto auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
}


.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1.5em;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.35em;
    transition: .4s ease-out;
}



/*SCROLLBAR FOR DATALIST & BROWSER*/
::-webkit-scrollbar,
#data-names::-webkit-scrollbar {
    width: 20px;
    background: var(--deep-brown-black-color);
}

::-webkit-scrollbar-track,
#data-names::-webkit-scrollbar-track {
    background: var(--deep-brown-black-color);
    box-shadow: inset 0 0 10px var(--bright-gold-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb,
#data-names::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 15px var(--burnt-orange-color);
    border-radius: 10px;
}




/* =====================================
   Media Queries
======================================== */



/* =====================================
   Tablet
======================================== */

@media (min-width: 768px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
    }

    .header-text-container {
        text-align: left;
    }

    .heading,
    .awesome {

        text-shadow: 1px 1px 1px var(--heading-shadow-color);
    }


    .awesome {
        font-size: 1.2rem;
    }

    /*=========================
SEARCH INPUT ELEMENTS
===============================*/

    .search-container {
        margin-top: 25px;
    }

    /* =====================================
   Gallery MEDIA 768PX
======================================== */
    .main {
        width: 95%;
    }


    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    }

    .card-container,
    .card {
        max-width: 370px;
    }

    .card-img-container {
        width: 105px;
        height: 105px;
        padding: 5px;
        margin-right: 10px;
    }

    .card-img {
        width: 95px;
    }

    .card-info-container {
        text-align: left;
    }

    .card-name {
        margin: 20px auto 0;
        /* text-shadow: 0 1px 1px rgb(247, 141, 41); */
    }

    .card-text {
        font-size: 0.9em;
    }




    /*===============================
MODALS MEDIA 768PX
===================================*/

    .modal {
        margin-top: 100px;
    }

}


/* =====================================
   Desktop
======================================== */

@media (min-width: 1024px) {
    .awesome {
        font-size: 1.6rem;
    }

    /*=========================
SEARCH INPUT ELEMENTS MEDIA 1024PX
===============================*/
    .search-container,
    label {
        width: 350px;
    }

    label {
        font-size: 1.2rem;
        margin-left: -56px;
    }



    #search-close {
        width: 30px;
        height: 30px;
        top: 25px;
        right: 6px;
    }

    /* =====================================
   Gallery MEDIA 1024PX
======================================== */

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .card-container,
    .card {
        max-width: 400px;
    }

    .card:hover {
        background: #f7f3d9;
        box-shadow: inset 0px 0px 4px var(--card-dark-shadow-color);
        border-color: var(--image-dark-shadow-color);
    }

    .card:hover .card-name {
        color: var(--dark-brown-color);
        text-shadow: 0 1px 1px var(--orange-highlight-color);
    }

    .card:hover .card-text {
        color: var(--card-hover-text-color);
    }

    .card:hover .card-img-container {
        background: var(--card-image-hover-gradient);
        box-shadow: 0 1px 3px var(--image-dark-shadow-color);
        transform: translateX(-9px);
    }


    .btn:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 25, 25, 1);
    }
}