/* =====================================
   Public API Request
======================================== */

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Bad+Script&family=Raleway+Dots&family=Raleway:wght@700&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100%;

}

body {
    /* font-family: "Nunito", sans-serif; */
    font-family: "Raleway", sans-serif;
    text-align: center;
    background: linear-gradient(49deg, #050505 0%, #161616 30%, #1b1b1b 65%, #050505 100%);
    background: url(../images/body-bg.webp) no-repeat 20% top fixed;
    background-size: cover;
}

header {
    padding: 15px 5px 5px;
    background: linear-gradient(49deg, #050505 0%, #161616 30%, #1b1b1b 65%, #050505 100%);
    box-shadow: 0 1px 1px #ff7814;
    ;

}

.header-inner-container {
    max-width: 1180px;
    margin: auto;
}

header h1 {
    font-size: 1.25em;
    color: rgba(50, 50, 50, 0.9);
    margin-top: 35px;
}

.awesome {
    font-family: 'Bad Script', cursive;
    letter-spacing: 2px;

}

.heading,
h2 {
    font-family: 'Raleway Dots', cursive;
}

.heading,
.awesome {
    font-size: 0.829em;
    letter-spacing: 0.09em;
    line-height: 2em;
    text-align: center;
    color: #ffd700;
}

/*=========================
SEARCH INPUT ELEMENTS
===============================*/


.search-container {
    position: relative;
}

#search-input {
    position: relative;
    top: 0;
    width: 75%;
    background: #040000;
    border-radius: 3px;
    padding: 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: auto;
    border-bottom: 1px solid #ff7814;
    transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#search-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
    right: -36px;
    border-radius: 100%;
    background: #040200;
    border-width: 1px;
    border-color: #ff7814;
    font-size: 1.5em;
    color: #b07e2a;
    box-shadow: 0 0 15px var(--primary-black-color) inset;
    text-shadow: 1px 1px 1px #ffd700;
    transition: .5s ease-out;
    cursor: pointer;

}

label {
    display: block;
    width: 147px;
    cursor: pointer;
    margin-left: 31px;
    color: #ffd700;
    transform: translateY(-34px);
    transition: transform .2s ease-in-out;
}

#search-close:hover {
    transform: scale(1.1);
}

#search-input:active,
#search-input:hover,
#search-input:focus {
    width: 100%;
    background: #ffd700;
    color: var(--primary-black-color);
    box-shadow: 0 0 15px var(--primary-black-color) inset;
    caret-color: #040200;
    border-bottom: 3px solid #a54f0c;

}

#search-input:active~label,
#search-input:hover~label,
#search-input:focus~label {
    transform: translateY(-82px);

}

.search-submit {
    cursor: pointer;
    height: 33px;
    background: rgba(245, 245, 245, 0.9);
    border-radius: 0 0.25rem 0.25rem 0;
    border: 1px solid rgba(200, 200, 200, 0.9);
    transition: .4s ease-out;
}

.search-submit:active,
.search-submit:hover,
.search-submit:focus {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(50, 50, 50, 0.9);
}



/* ======================================
Main
======================================== */

.main {
    width: 95%;
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: rgba(1, 0, 0, 0.6);
    border: solid rgb(243, 210, 108) 1px;

}


/* =====================================
   Gallery
======================================== */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 1rem;
    /* border: solid rgb(255, 171, 52) 1px; */
}

.card-container {
    /* border: solid rgb(255, 52, 52) 1px; */
    margin: 8px 0;
}


.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 10px;
    background: rgb(6, 5, 10);
    border-radius: 0.25em;
    border: solid rgb(120, 114, 79) 1px;
    transition: .4s ease-out;
    overflow: hidden;

}

.card-img-container {
    background: rgb(243, 210, 108);
    background: linear-gradient(141deg,
            #c9933b 0%,
            #ffd700 15%,
            #b07e2a 50%,
            #ffd700 85%,
            #c9933b 100%);
    background: linear-gradient(49deg,
            #241701 0%,
            #c9933b 40%,
            #ffd700 100%);
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 0 1px 3px #f9ee8d;
    transition: transform .4s ease-out;
}

.card-img {
    width: 95px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
    color: #ffd700;
    /* text-shadow: 0 1px 1px rgb(247, 141, 41); */
}

.card-text {
    font-size: 0.9em;
    color: rgba(50, 50, 50, 0.7);
    color: rgb(249, 204, 145);
    margin: 7px auto;
    transition: .4s ease-out;
}

.cap {
    text-transform: capitalize;
}


/* =====================================
   Modal
======================================== */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative;
    width: 95%;
    max-width: 420px;
    min-height: 415px;
    margin: 10px auto auto;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: .4s ease-out;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.25em;
    border: 1px solid rgba(50, 50, 50, 0.3);
}

.modal-img {
    width: 150px;
    margin-top: 35px;
    border-radius: 50%;
}

.modal-name {
    margin-bottom: 5px;
}

.modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
    border-color: rgba(200, 200, 200, 0.2);
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;
    ;
    margin: 10px auto auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
}


.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1.5em;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.35em;
    transition: .4s ease-out;
}


/* =====================================
   Media Queries
======================================== */

/* =====================================
   Tablet
======================================== */

@media (min-width: 768px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
    }

    .header-text-container {
        text-align: left;
    }

    .heading,
    .awesome {

        text-shadow: 1px 1px 1px #3f3c22;
    }


    .awesome {
        font-size: 1.4rem;
    }

    .search-container {
        margin-top: 25px;
    }

    .card:hover {
        background: #f7f3d9;
        box-shadow: inset 0px 0px 4px rgba(6, 5, 10);
        border-color: rgba(6, 5, 10);
    }

    .card:hover .card-name {
        color: #241701;
        text-shadow: 0 1px 1px rgb(247, 141, 41);
    }

    .card:hover .card-text {
        color: rgb(1, 0, 0);
    }

    .card:hover .card-img-container {
        background: linear-gradient(49deg,
                #1d1200 0%,
                #5f3910 35%,
                #8e5a18 70%,
                #c9933b 100%);
        box-shadow: 0 1px 3px rgba(6, 5, 1);
        transform: translateX(-9px);
    }


    .modal {
        margin-top: 100px;
    }

}


/* =====================================
   Desktop
======================================== */

@media (min-width: 1024px) {
    .awesome {
        font-size: 1.6rem;
    }


    .btn:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 25, 25, 1);
    }
}